nav {
  background-color: rgba(255, 255, 255, 0.63);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.63);
  font-family: Courier, monospace;
}

.nav-item {
  width: 100px;
  text-align: center;
  font-family: Courier, monospace;
}

nav a {
  color: #101010d1;
  text-decoration: none;
}

nav a.active {
  color:  #101010d1;;
  font-weight: bold;
  border-bottom: 5px dotted;
  box-sizing: border-box;
}

nav a.active:hover {
  color:  #101010d1 !important;
}

nav a:hover {
  text-decoration: none;
  color:  #101010d1;;
}

nav a.active.navbar-brand {
  border-bottom: none;
}

nav a:not(.navbar-brand):hover {
  font-weight: bold;
}

